{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

 {% block navbar %}
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Spend Modeller</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/sim/">Simulations</a></li>
      <li><a href="/explorer/">Explorer</a></li>
      <li><a href="/profiler/">Lifecycle Profiles</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Who am I?</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Follow me</a></li>
    </ul>
  </div>
{% endblock %}


{% block content %}

<div class="container-fluid"><form method="POST">{{ form.csrf_token() }}

  <table class="table table-condensed">

    <thead><tr class="info">
      <th>Name</th>
      <th>Df index</th>
      <th>Slicing</th>
      <th>Function</th>
      <th>Parameters</th>
      <th>Arguments</th>
    </tr></thead>

  {%for r in rulesets %}
    <tbody>
      <tr>
        <td>{{ form[r]['rname'].data }}</td>

        <td>{%for i in form[r]['index_slice'].data if i != 'csrf_token'%}          
            <p style="height: 18px">{{ i }}</p>
            {% endfor %}
        </td>   

        <td>{%for i in form[r]['index_slice'] %}          
            <p style="height: 18px">{{ i }}</p>
            {% endfor %}
        </td>   
        
        <td>{{ form[r]['rfunc']() }}</td>

        <td>{%for p in form[r]['params'].data if p != 'csrf_token' %}          
            <p style="height: 18px">{{ p }}</p>
            {% endfor %}
        </td>                

        <td>{%for p in form[r]['params'] %}          
            <p style="height: 18px">{{ p }}</p>
            {% endfor %}
        </td>        



      </tr>
    </tbody>
  {% endfor %}
  </table>

  <p>{{ wtf.form_field(form.submit, class="btn btn-success pull-left") }} </p>
  <p></p>


  <p align="right">{{ wtf.form_field(form.add_ruleset, class="btn btn-primary") }}</p>


  <p align="right">{{ form.new_name() }}</p>

  <p align="left">{{ wtf.form_field(form.clear_all, class="btn btn-danger") }} </p>

</form></div>

{% endblock %}












