{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block meta %}

{% endblock %}

{% block head %}
{{ super() }}

<head>
<!-- can't seem to get it to pick jquery up locally, so using cdn for now -->
<!-- <head><script src="jquery-3.2.1.min.js"></script></head> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>




{% endblock %}

{% block navbar %}
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Spend Modeller</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/sim/">Simulations</a></li>
      <li><a href="/explorer/">Explorer</a></li>
      <li><a href="/profiler/">Lifecycle Profiles</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Who am I?</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Follow me</a></li>
    </ul>
  </div>
{% endblock %}


{% block content %}


<!-- first print out list of rulesets, plus total element -->

<div class="container-fluid top_background">
<p></p>
  {% for r in rulesets %}
  <button id={{ r }} class='top_button'>{{ r }}</button>
  {% endfor %}
  <button id="total" class='top_button'>Total</button>

</div>



<div class="container-fluid"><form method="POST">{{ form.csrf_token() }}

  <table class="table table-condensed">

<!--     <thead><tr class="info">
      <th>Name</th>
      <th>Df index</th>
      <th>Slicing</th>
      <th>Function</th>
      <th>Parameters</th>
      <th>Arguments</th>
      <th></th>
    </tr></thead> -->

  {%for r in rulesets %}
    <tbody id={{ "rset_"+r }} class="rset_rows">
      <tr>
        <td>{{ form[r]['rname'].data }}</td>

        <td>{%for i in form[r]['string_slice'].data if i != 'csrf_token'%}          
            <p style="height: 18px">{{ i }}</p>
            {% endfor %}
        </td>   

        <td>{%for i in form[r]['string_slice'] %}          
            <p style="height: 18px">{{ i }}</p>
            {% endfor %}
        </td>   
        
        <td>{{ form[r]['rfunc']() }}</td>

        <td>{%for p in form[r]['params'].data if p != 'csrf_token' %}          
            <p style="height: 18px">{{ p }}</p>
            {% endfor %}
        </td>                

        <td>{%for p in form[r]['params'] %}          
            <p style="height: 18px">{{ p }}</p>
            {% endfor %}
        </td>        

        <td><p>{{ form[r].delete_ruleset }}</p>
            <p>{{ form[r].add_ruleset_to_plot }}</p>
            <p>{{ form[r].save_ruleset }}</p>
            <p>{{ form[r].dump_rset_to_xls }}</p></td>
      </tr>
    </tbody>
  {% endfor %}
  </table>
  <div class='row text-center'><img src={{ outfig }}></div>
  <div><p align="right" class="bottom_background">{{ wtf.form_field(form.submit, class="bottom_button") }}  {{ wtf.form_field(form.add_ruleset, class="bottom_button") }} {{ form.new_name() }}  {{ wtf.form_field(form.load_ruleset, class="bottom_button") }} {{ form.load_name() }} {{ wtf.form_field(form.clear_all, class="bottom_button") }} {{ wtf.form_field(form.plot_all, class="bottom_button") }} </p>
  <p></p>

</form>
</div>


<script>

$(document).ready(function(){

    $(".top_button").click(function(){
      $('.rset_rows').hide();
      var active_rset = $(this).attr('id');
      $('#rset_' + active_rset).fadeIn();      
      $(this).css("background-color","white");
    });

});
</script>

<style>
.top_button {
    text-align: center;
    border-style: none;

    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f0f0f0;
}

.bottom_button {
    text-align: center;
    /*border-style: none;*/
    background-color: #cccccc;
}

.top_background {
    background: #f0f0f0;
} 

.bottom_background {
    background:#f0f0f0;
} 

.rset_rows {
    display: none;
}

</style>

{% endblock %}











