{% extends 'base_template.html' %}

{% block content %}

<!-- first print out list of rulesets, plus total element -->

<body>

<div class="container-fluid top_background" style="height: 1800">
    <img src={{ outfig }}>
</div>

<div class="container-fluid top_background">
	<p style="min-height: 1800"></p>
</div>

<p class="top_background" style="height: 800px"></p>
</body>
<!-- <div class="container-fluid top_background">
  <p>Available Scenarios</p>
  {% for p in project %}
  <p>{{ p }}</p>
  {% endfor %}
</div> -->
{% endblock %}











