{% extends 'bootstrap/base.html' %}


 {% block navbar %}
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Spend Modeller</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/sim/">Simulations</a></li>
      <li><a href="/explorer/">Explorer</a></li>
      <li><a href="/profiler/">Lifecycle Profiles</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Who am I?</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Follow me</a></li>
    </ul>
  </div>
{% endblock %}



{% block content %}
<p>bootstrap</p>
{% endblock %}


