<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cryptofolio</title>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="300">     
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  </head>
  <body>   
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Spend Modeller</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/sim/">Simulations</a></li>
      <li><a href="/explorer/">Explorer</a></li>
      <li><a href="/profiler/">Lifecycle Profiles</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Who am I?</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Follow me</a></li>
    </ul>
  </div>
</nav>

{% if dbg %}
<p> {{ dbg }} </p>
{% endif %}

    {% block content %} 
    {% endblock %}
  </body>
</html>