<!DOCCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Flask App</title>    
      <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <script type="text/javascript" src="""{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}">></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <style>
        body { padding-top: 70px; }
      </style>
    {% endblock %}
  </head>
  <body>
    
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Spend Modeller</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Simulations</a></li>
      <li><a href="#">Explorer</a></li>
      <li><a href="#">Lifecycle Profiles</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Aliens</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Way Out</a></li>
    </ul>
  </div>
</nav>
    
    <p>The profile is </p>  {{ prof }}
    <p></p>    
    <p>The output series is </p>  {{ out_ser }}
    <p></p>
    <p>The sum is </p>  {{ out_sum }}
    {% block content %} 
    {% endblock %}
  </body>
</html>